*
body {
    background-color: #c6c6c7;
    color: #1b2a41;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
}

#cabecalho-principal {
    text-align: center;
    padding: 25px;
    background-color: #0d1b2a;
}


.logo {
    max-width: 180px;
    width: 100%;
    height: auto;
}


h1 {
    color: #c0c0c0;
    font-size: 40px;
}


nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 22px;
    background-color: #1b2a41;
    border-radius: 10px;
}

nav span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.banner {
    display: block;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 25px auto;
    border-radius: 12px;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

section {
    margin-bottom: 50px;
}


h2 {
    color: #1b2a41;
    font-size: 32px;
    border-bottom: 3px solid #c0c0c0;
    padding-bottom: 10px;
}

h3 {
    font-size: 23px;
    color: #1b2a41;
}


#apresentacao p {
    font-size: 21px;
    line-height: 1.7;
}


ul {
    line-height: 2;
    font-size: 20px;
}


.container-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}


.container-imagens article {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 3px 10px rgba(13, 27, 42, 0.20);
}


.container-imagens img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    font-size: 19px;
}

th {
    background-color: #1b2a41;
    color: #ffffff;
    padding: 18px;
}

td {
    border: 1px solid #c0c0c0;
    padding: 18px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eef1f5;
}


footer {
    background-color: #0d1b2a;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    font-size: 18px;
}

footer p {
    margin: 10px;
}